body {
    background-image: url('https://cdn.jsdelivr.net/gh/edme02/spacehey_code@main/res/spacehey_twilight.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}